@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.primary-btn {
    width: 200px;
    height: 60px;
    background-color: #870046;
    font-size: 1.3rem;
}

.primary-btn:hover {
    background-color: #870046;
}

.secondary-btn {
    width: 160px;
    height: 45px;
    background-color: #870046;
    font-size: 1rem;
padding: 10px !important;
}

.secondary-btn:hover {
    background-color: #870046;
}

@media only screen and (max-width: 767px) {
.secondary-btn {
        padding: 0 !important;
    }
}

 